.ul{
    display: flex;
    justify-content:space-around;
    font-size: x-large;
    padding: 15px;
}
header{
    background-color: aqua;
}
a{
    text-decoration: none;
    color: chocolate;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
#r1{
    color: chocolate;
    font-size: xx-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#rp{
    font-size: large;
    word-spacing: 3px;
    line-height: 30px;
    text-align: center;
}
#ri{
    border-radius: 5px;
    
}
.details{
font-size: larger;
padding-left: 80px;
}